<div class="about-section">
  <h1 class="about-heading">About US</h1>
  <div class="about-text" [innerHTML]="aboutUs">

  </div>
</div>

<div class="container">
  <div class="card">
    <div class="sub">
      Poweredby
    </div>
    <div class="name">
      {{companyName}}
    </div>
    <div class="sub">
      Email
    </div>
    <div class="support">
      {{email}}
    </div>
    <div class="sub">
      phone
    </div>

    <div class="support">
      {{ phone}}
    </div>
    <div class="sub">
      Address
    </div>

    <div class="support">
      {{address}}
    </div>

  </div>
</div>