.height-100 {
    height: 100vh
}

.card {
    width: 495px;
    border: none;
    height: 300px;
    box-shadow: 0px 5px 20px 0px #d6dbe0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50%;
    border-radius: 10px;
}
.back-btn{
    color: #ffffff;
    background-color: #123456;
}

.card h6 {
    color:  #123456;
    font-size: 20px;
    font-weight: 600;
}
.card h5{
    color: #123456;
    font-size: 20px;
}

.inputs input {
    width: 40px;
    height: 40px
}
.inputs-box{
    width: 150px;
    height: 60px
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.card-2 {
    background-color: #fff;
    padding: 10px;
    width: 350px;
    height: 100px;
    bottom: -50px;
    left: 20px;
    position: absolute;
    border-radius: 5px
}

.card-2 .content {
    margin-top: 50px
}

.card-2 .content a {
    color: red
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid rgb(9, 1, 48)
}

.validate {
    border-radius: 20px;
    height: 40px;
    background-color: #123456;
    border: none;
    width: 140px;
    font-weight: bold;
}
.btn-update{
    border-radius: 20px;
    height: 40px;
    background-color: #123456;
    border-color: none;
    color: #ffffff;
    width: 140px
}
 .password-container {
    position: relative;
    margin-bottom: 20px;
  }

  .password-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }

  .password-input.error {
    border-color: #ff4d4f; /* Red border color for error */
  }

  .password-input:focus {
    border-color:rgb(22, 3, 114); /* Light blue border color on focus */
    outline: none;
  }

  .toggle-password {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 35px; /* Adjust this value as needed */
  }

  .validation-message {
   color: #ff4d4f; /* Red color for the error message */
    font-size: 14px;
    margin-left: 13px;
  }
  
  .card1 {
    width: 495px;
    border: none;
    height: 400px;
    box-shadow: 0px 5px 20px 0px white;
    z-index: 1;
    margin-bottom: 50%;
    padding: 30px 30px 30px 30px;
    
}
.card1 h5{
    display: flex;
    justify-content: center;
    text-align: center;
    color:  #123456;
    font-size: 20px;
    font-weight: 600;
}

.countdown{
    color:black;
    margin: 5px 0px 0px 9px;
    font-weight: 600;
}

.countdown-timer{
    flex-direction: row;
    display: flex;
    margin: 10px -62px 0px 10px;
   
}

.invalidotp{
margin-left: 151px;
font-weight: 600;
font-family: 'Times New Roman', Times, serif;
}
.errorbox{
border-color: red;
}  
.error-message {
    color: red;
    font-size: 14px;
    margin-left: 10px;
  }
.label{
font-family: 'Times New Roman', Times, serif;

}


.input-group {
    position: relative;
  }
  
  .input-group-text {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 7px; /* Adjust the value to control the icon's position */
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }
  
  .password-input {
    padding-right: 40px; /* Ensure space for the icon */
  }
  .password-label{
    margin-left: 10px;
  }
  

    